<button (click)="consent()" [disabled]="isConsented">
  consent
</button>

<button (click)="toggleRecording()" [disabled]="!isConsented" >
  REC
</button>

<button (click)="play()" [disabled]="!isConsented" >
  play
</button>

<button (click)="textToCode(content)" [disabled]="!isConsented" >
  eval
</button>

<!-- TODO: uncomment and explore -->
<!-- <button (click)="normalizeCodeWithAddingVolume(currentTrackCode.value)" [disabled]="!isConsented" >
  normalize
</button> -->

<!-- <textarea #currentTrackCode></textarea> -->

<button (click)="updateTxtWithNewFragment(content)" [disabled]="!isConsented" >
  update
</button>

<!-- <div class="container"> -->
  <ngx-codemirror
    [ngModel]="content"
    [options]="codeMirrorOptions"
  ></ngx-codemirror>
<!-- </div> -->